.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #8E8D8A;
  height: 100px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  background-color: #f8e981;
  height: 50px;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.menu {
 list-style-type: none;
}

.menu li {
  display: inline;
  padding: 8px;

}

footer {
  width: 100%;
  clear: both;
  height: 50px;

  background-color: #f8e981;
}
