.attractioncard {
  background: #f76c6c;
  width: 250px;
  height: 250px;
  float: left;
  margin: 35px;
  display: inline-block;

   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.attractioncard img {
  display: block;
  float: left;
  height: 65%;
  width: 70%;
  margin-left: 37px;

}

.attractioncard:hover {
  background-color: gray;
}

.title {
  font-size: 2.5em;
  color: #24305e;
}

.attractionsContainer {
  padding: 10px;
  margin: 0 30px;
  /* display: block; */
  justify-content: center;
  float: left;
}

#attr-name {
  font-size: 4em;
}


.attractionside {
  background-color: #24305E;
  color: white;
  float: left;
  width: 30%;
  height: 80vh;
}

.main {
  /* padding-left: 20px; */
  text-align: left;
  background-color: #374785;
  color: white;

  width: 100%;
  height: 80vh;

}

.main p {
  font-size: .9em;
  padding: 10px;

}

.attr-image {
  justify-content: center;
  height: 70vh;
  width: 90vh;
}


.attraction-item {
  text-decoration: none;
  color: #24305e;
}


.forminput {
  margin-left: 20px;
  text-align: left;
}

label {
  justify-content: left;
}

#attractionsubmit {
  background-color: #f76c6c;
}

.cityform {
  display: inline-block;
  padding: 10px;
}

.backbutton {

    background-color: transparent;
    /* border: none; */
    color: blue;
    /* outline: none; */
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;

}
