.attractioncard {
  /* background: #f76c6c; */
  background-color: #f4af3d;
  width: 250px;
  height: 250px;
  /* float: left; */
  margin: 35px;
  display: inline-block;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.5s;
}

.attractioncard img {
  display: block;
  float: left;
  height: 65%;
  width: 70%;
  margin-left: 37px;

}

.attractioncard:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
}

.title {
  font-size: 2.5em;
  color: #24305e;
}

.attractionsContainer {
  padding: 10px;
  margin: 0 30px;
  /* display: block; */
  justify-content: center;
  float: left;
}

#attr-name {
  font-size: 4em;
}


.attractionside {
  background-color: #24305E;
  color: white;
  float: left;
  width: 30%;
  height: 80vh;
}

.main {
  /* padding-left: 20px; */
  text-align: center;
  background-color: #374785;
  color: white;
  float: right;

  width: 70%;
  height: 80vh;

}

.main p {
  font-size: .9em;
  padding: 10px;

}

.attr-image {
  /* justify-content: center; */
  margin: 0 auto;
  height: 500px;
  width: 500px;
  text-align: center;
}


.attraction-item {
  text-decoration: none;
  color: #24305e;
}


.forminput {
  margin-left: 20px;
  text-align: left;
}

label {
  justify-content: left;
}

#attractionsubmit {
  background-color: #f76c6c;
}

.cityform {
  display: inline-block;
  padding: 10px;
}
